include CHANGELOG.md
include LICENSE
include README.rst
include MANIFEST.in
include setup.cfg
include setup.py
recursive-include django_geopostcodes *.py
recursive-include django_geopostcodes *.csv
recursive-include docs *
recursive-include requirements *.txt
recursive-include scripts/ *
prune *.pyc
prune *.sw*
